body {
    background-color: #1a1919;
}

h1 {
    font-weight: 600;
    font-size: 43px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
}

p {
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

input {
    border: white solid 2px;
    background-color:#1a1919;

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: relative;
    width: 50%;

    color: white;
    text-align: center;

    font-family: 'Courier New', Courier, monospace
}

.paragraph {
    position: relative;

    color: white;
    text-align: center;

    font-family: 'Courier New', Courier, monospace
}

.button-generic {
    position: relative;

    width: 150px;
    height: 50px;

    background-color: #1a1919;
    border-color: white;
    border-radius: 3px;
    border-style: solid;

    color: white;
    font-size: 30px;
    font-weight: bold;
}

.button-generic:hover {
    background-color: #363434;
    border-color: white;
    border-radius: 3px;
    border-style: solid;
}

.warning {
    position: relative;
    width: 50%;

    color: #f2c939;
    text-align: center;

    font-family: 'Courier New', Courier, monospace
}